In [53]:
from bson import json_util, ObjectId
from pandas.io.json import json_normalize
import json
import pymongo
import pandas as pd
from pymongo import MongoClient as Connection

connection = Connection()
db = connection.recipe_db
input_data = db.recipes_vegetarian
data = json.loads(json_util.dumps(input_data.find()))
norm_data = json_normalize(data)

ingredients = json_normalize(data, record_path='ingredients', meta='id', record_prefix='ingredients_', errors='ignore' )
ingredients = pd.DataFrame(ingredients)

#schmeiss alle zutaten raus, die weniger als 4 mal verwendet werden
ingredients_unique = ingredients[ingredients.groupby('ingredients_id').ingredients_id.transform(len) > 4]

#schmeiss alle rezepte raus, die weniger als 4 zutaten besitzen
ingredients_unique = ingredients[ingredients.groupby('id').ingredients_id.transform(len) > 4]

#regex zum aufräumen der zutatennamen

ingredients_unique['ingredients_name']=ingredients_unique['ingredients_name'].str.replace(r"\(.*\)","")
ingredients_unique['ingredients_name']=ingredients_unique['ingredients_name'].str.replace(r"[-_.+/ ]*\d[-_.+ ]*","")
ingredients_unique['ingredients_name']=ingredients_unique['ingredients_name'].str.replace(r"\b(ml|g|sliced|dried|ground|, chopped|, drained)\b","")


#entferne spalten, die nicht benötigt werden
ingredients_unique = ingredients_unique.drop(ingredients_unique.columns[[0, 3, 4]], axis=1)

   ingredients_id                                   ingredients_name
0           16157                                        10 g butter
1            4405                           40 g sliced green onions
2            4342                        1-1/2 cloves garlic, minced
3            4520  3/4 (10 ounce) package frozen chopped spinach ...
4           16243                               180 g ricotta cheese

In [88]:
categories = json_normalize(data, record_path='categories', meta='id', record_prefix='categories_', errors='ignore' )
categories = pd.DataFrame(categories)

#kopiere nur werte die Vegetarian enthalten
categories_veg = categories[categories.categories_name == 'Vegetarian']

#lösche alle doppelten kategorie IDs
cat_unique_veg = categories_veg.drop_duplicates(['id'], keep='last')

#benenne spalte um
cat_unique_veg.rename(columns={'categories_name': 'vegetarian'}, inplace=True)
#benenne Vegetarian in 1 um
cat_unique_veg = cat_unique_veg.replace(['Vegetarian'], [1]) 


cat_unique_veg['id'].nunique()
cat_unique_veg['id'].value_counts()

254971    1
9209      1
16756     1
88768     1
67952     1
20846     1
89452     1
83307     1
152937    1
152931    1
229730    1
18274     1
33118     1
74077     1
26972     1
109914    1
9560      1
18805     1
86390     1
16760     1
20867     1
9615      1
191885    1
20876     1
16779     1
19850     1
18040     1
73090     1
18809     1
21132     1
         ..
13988     1
21329     1
230050    1
12960     1
13996     1
257695    1
15006     1
13981     1
25243     1
13978     1
25241     1
13995     1
17069     1
14021     1
26301     1
12996     1
14019     1
33474     1
42688     1
12991     1
11966     1
70330     1
15022     1
26297     1
25272     1
9222      1
24243     1
132785    1
13999     1
49152     1
Name: id, Length: 576, dtype: int64

In [89]:

cat_unique_veg.head()

    vegetarian     id
0            1  59661
7            1  59671
19           1  13978
22           1  20876
31           1  13954

In [ ]:
cols = ['AUTHOR_NAME', 'title']

      vegetarian      id
0              1   59661
7              1   59671
19             1   13978
22             1   20876
31             1   13954
36             1   26819
42             1   54675
47             1   33474
50             1   20669
55             1   19368
65             1   85452
71             1   21261
76             1   14469
80             1   26692
90             1   67952
97             1   16409
109            1   49552
116            1   72508
121            1   18293
127            1  104850
134            1   14132
139            1   11966
143            1   18045
152            1   14041
157            1   11679
164            1   13948
172            1   14830
176            1   21391
180            1   13941
189            1    9377
...          ...     ...
3114           1   42710
3117           1   24566
3120           1   11900
3128           1   16530
3138           1  155552
3140           1   87373
3143           1   16560
3150           1    9090
3155           1    9232
3158           1   21525
3161           1   21463
3168           1   18351
3174           1   25243
3180           1   86957
3188           1   90030
3192           1   24767
3200           1   23298
3209           1  220192
3213           1  183947
3216           1   72712
3221           1   19921
3227           1   14458
3230           1  150772
3234           1   21181
3240           1   14877
3243           1   13928
3252           1   62761
3256           1   20087
3260           1   20516
3265           1   18290

[576 rows x 2 columns]

In [85]:
cat_unique_veg.head()

    vegetarian     id
0   Vegetarian  59661
7   Vegetarian  59671
19  Vegetarian  13978
22  Vegetarian  20876
31  Vegetarian  13954

576

In [58]:
ingredients = json_normalize(data, record_path='ingredients', meta='id', record_prefix='ingredients_', errors='ignore' )
ingredients = pd.DataFrame(ingredients)

In [59]:
ingredients['id'].nunique()

577

In [33]:
ingredients.head()

,ingredients_grams,ingredients_id,ingredients_name,ingredients_type,id
0,11.360000,16157,10 g butter,Normal,59661
1,41.800000,4405,40 g sliced green onions,Normal,59661
2,4.800000,4342,"1-1/2 cloves garlic, minced",Normal,59661
3,227.200000,4520,3/4 (10 ounce) package frozen chopped spinach ...,Normal,59661
4,182.400009,16243,180 g ricotta cheese,Normal,59661

In [34]:
cat_unique_veg.head()

   categories_name     id
36      Vegetarian  26819
55      Vegetarian  19368
65      Vegetarian  85452
71      Vegetarian  21261
76      Vegetarian  14469

In [60]:


#schmeiss alle zutaten raus, die weniger als 4 mal verwendet werden
ingredients_unique = ingredients[ingredients.groupby('ingredients_id').ingredients_id.transform(len) > 4]

# drop duplicate by a column name
 



ingredients_unique.head(50)

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

,ingredients_grams,ingredients_id,ingredients_name,ingredients_type,id
0,11.360000,16157,butter,Normal,59661
1,41.800000,4405,green onions,Normal,59661
2,4.800000,4342,"cloves garlic, minced",Normal,59661
3,227.200000,4520,"package frozen chopped spinach , thawed and sq...",Normal,59661
4,182.400009,16243,ricotta cheese,Normal,59661
5,92.000000,16261,sour cream,Normal,59661
6,180.800000,16231,shredded Monterey Jack cheese,Normal,59661
7,208.000000,2351,corn tortillas,Normal,59661
9,454.000000,4207,"bunch fresh asparagus, trimmed",Normal,59671
10,0.000000,111,cooking spray,HideAmounts,59671
11,0.400000,16421,salt and pepper to taste,HideAmounts,59671
12,28.400000,16157,butter,Normal,59671
13,16.000000,2882,soy sauce,Normal,59671
14,5.000000,18930,balsamic vinegar,Normal,59671
15,73.333336,4397,onion,Normal,13978
16,36.000000,6307,olive oil,Normal,13978
17,81.333336,4279,"carrots, diced",Normal,13978
18,53.333336,4292,stalks celery,Normal,13978
19,4.000000,4342,"cloves garlic, minced",Normal,13978
20,1.000000,16403,oregano,Normal,13978
22,0.933333,16379,basil,Normal,13978
23,270.666700,4664,can crushed tomatoes,Normal,13978
24,256.000000,2829,dry lentils,Normal,13978
25,1264.000000,2496,liters water,Normal,13978
26,10.000000,4516,"spinach, rinsed and thinly",Normal,13978
27,19.735683,7842,vinegar,Normal,13978
28,0.000000,16421,salt to taste,HideAmounts,13978
29,0.000000,16406,black pepper to taste,HideAmounts,13978
30,9.083334,6305,vegetable oil,Normal,20876
31,73.333336,4397,onion,Normal,20876
32,189.333344,4520,"package frozen chopped spinach, thawed and dra...",Normal,20876
33,166.666672,16317,"eggs, beaten",Normal,20876
35,1.000000,16421,salt,Normal,20876
36,0.175000,16406,black pepper,Normal,20876
37,4.583333,6379,vegetable oil,Normal,13954
38,36.666668,4397,onion,Normal,13954
39,4.000000,4342,"cloves garlic, minced",Normal,13954
40,512.000000,2795,canned kidney beans,Normal,13954
41,158.000000,2496,water,Normal,13954
42,7.942467,16385,chili powder,Normal,13954
44,1.400000,20551,cumin,Normal,13954
45,0.066667,16407,"pinch cayenne pepper, or to taste",Normal,13954
46,16.000000,2882,soy sauce,Normal,13954
49,75.600006,16215,shredded Cheddar cheese,Normal,13954
50,74.666670,16223,"package cream cheese, softened",Normal,26819
51,18.333334,6294,mayonnaise,Normal,26819
52,6.666667,16238,grated Parmesan cheese,Normal,26819
53,9.916667,16244,grated Romano cheese,Normal,26819
54,1.000000,4342,"clove garlic, peeled and minced",Normal,26819
55,0.147222,18681,basil,Normal,26819

In [76]:
#zähle die uniquen zutatenids
ingredients_unique['id'].nunique()

576

In [78]:
from bson import json_util, ObjectId
from pandas.io.json import json_normalize
import json
import pymongo
import pandas as pd
from pymongo import MongoClient as Connection

connection = Connection()
db = connection.recipe_db
input_data = db.recipes_vegetarian
data = json.loads(json_util.dumps(input_data.find()))
norm_data = json_normalize(data)

ingredients = json_normalize(data, record_path='ingredients', meta='id', record_prefix='ingredients_', errors='ignore' )
ingredients = pd.DataFrame(ingredients)

#schmeiss alle zutaten raus, die weniger als 4 mal verwendet werden
ingredients_unique = ingredients[ingredients.groupby('ingredients_id').ingredients_id.transform(len) > 4]

#schmeiss alle rezepte raus, die weniger als 4 zutaten besitzen
ingredients_unique = ingredients[ingredients.groupby('id').ingredients_id.transform(len) > 4]

#regex zum aufräumen der zutatennamen

ingredients_unique['ingredients_name']=ingredients_unique['ingredients_name'].str.replace(r"\(.*\)","")
ingredients_unique['ingredients_name']=ingredients_unique['ingredients_name'].str.replace(r"[-_.+/ ]*\d[-_.+ ]*","")
ingredients_unique['ingredients_name']=ingredients_unique['ingredients_name'].str.replace(r"\b(ml|g|sliced|dried|ground|, chopped|, drained)\b","")


#entferne spalten, die nicht benötigt werden
ingredients_unique = ingredients_unique.drop(ingredients_unique.columns[[0, 3, 4]], axis=1)

In [90]:
asd = ingredients_unique.join(cat_unique_veg.set_index(['id']), on=['id'])

In [91]:
asd.head()

,ingredients_grams,ingredients_id,ingredients_name,ingredients_type,id,vegetarian
0,11.360000,16157,10 g butter,Normal,59661,1.0
1,41.800000,4405,40 g sliced green onions,Normal,59661,1.0
2,4.800000,4342,"1-1/2 cloves garlic, minced",Normal,59661,1.0
3,227.200000,4520,3/4 (10 ounce) package frozen chopped spinach ...,Normal,59661,1.0
4,182.400009,16243,180 g ricotta cheese,Normal,59661,1.0

In [ ]:
pd.test = ingredients_trans['ingredients_id'].groupby(ingredients_trans['id']).apply(max)


pd.get_dummies(ingredients_trans['ingredients_id']).groupby(ingredients_trans['id']).apply(max)

In [98]:
asd['id'].nunique()

529

In [99]:
ingredients_unique['id'].nunique()

529

In [95]:
print(asd.loc[asd['vegetarian'] == 0.0])

Empty DataFrame
Columns: [ingredients_grams, ingredients_id, ingredients_name, ingredients_type, id, vegetarian]
Index: []

In [ ]:
cols = ['AUTHOR_NAME', 'title']
df.join(df2.set_index(cols), on=cols)

In [23]:
ingredients_unique.drop_duplicates(['ingredients_id'], keep='last')

In [20]:
ingredients_unique.head(50)

,ingredients_grams,ingredients_id,ingredients_name,ingredients_type,id
0,11.360000,16157,butter,Normal,59661
1,41.800000,4405,green onions,Normal,59661
2,4.800000,4342,"cloves garlic, minced",Normal,59661
3,227.200000,4520,"package frozen chopped spinach , thawed and sq...",Normal,59661
4,182.400009,16243,ricotta cheese,Normal,59661
5,92.000000,16261,sour cream,Normal,59661
6,180.800000,16231,shredded Monterey Jack cheese,Normal,59661
7,208.000000,2351,corn tortillas,Normal,59661
8,425.600000,7431,can enchilada sauce,Normal,59661
9,454.000000,4207,"bunch fresh asparagus, trimmed",Normal,59671
10,0.000000,111,cooking spray,HideAmounts,59671
11,0.400000,16421,salt and pepper to taste,HideAmounts,59671
12,28.400000,16157,butter,Normal,59671
13,16.000000,2882,soy sauce,Normal,59671
14,5.000000,18930,balsamic vinegar,Normal,59671
15,73.333336,4397,onion,Normal,13978
16,36.000000,6307,olive oil,Normal,13978
17,81.333336,4279,"carrots, diced",Normal,13978
18,53.333336,4292,stalks celery,Normal,13978
19,4.000000,4342,"cloves garlic, minced",Normal,13978
20,1.000000,16403,oregano,Normal,13978
22,0.933333,16379,basil,Normal,13978
23,270.666700,4664,can crushed tomatoes,Normal,13978
24,256.000000,2829,dry lentils,Normal,13978
25,1264.000000,2496,liters water,Normal,13978
26,10.000000,4516,"spinach, rinsed and thinly",Normal,13978
27,19.735683,7842,vinegar,Normal,13978
28,0.000000,16421,salt to taste,HideAmounts,13978
29,0.000000,16406,black pepper to taste,HideAmounts,13978
30,9.083334,6305,vegetable oil,Normal,20876
31,73.333336,4397,onion,Normal,20876
32,189.333344,4520,"package frozen chopped spinach, thawed and dra...",Normal,20876
33,166.666672,16317,"eggs, beaten",Normal,20876
35,1.000000,16421,salt,Normal,20876
36,0.175000,16406,black pepper,Normal,20876
37,4.583333,6379,vegetable oil,Normal,13954
38,36.666668,4397,onion,Normal,13954
39,4.000000,4342,"cloves garlic, minced",Normal,13954
40,512.000000,2795,canned kidney beans,Normal,13954
41,158.000000,2496,water,Normal,13954
42,7.942467,16385,chili powder,Normal,13954
43,6.852668,16420,prepared mustard,Normal,13954
44,1.400000,20551,cumin,Normal,13954
45,0.066667,16407,"pinch cayenne pepper, or to taste",Normal,13954
46,16.000000,2882,soy sauce,Normal,13954
47,266.666700,4557,mashed cooked sweet potatoes,Normal,13954
49,75.600006,16215,shredded Cheddar cheese,Normal,13954
50,74.666670,16223,"package cream cheese, softened",Normal,26819
51,18.333334,6294,mayonnaise,Normal,26819
52,6.666667,16238,grated Parmesan cheese,Normal,26819